body {
	margin:0;
	font-family: 'Comfortaa', sans-serif !important;
	font-size: 40px !important;
	background: #fbfbfb;

}

button {
	cursor: pointer;
}

i{
	font-size: 48px;
}

#nav{
	position: fixed;
    width: 100%;
    display: flex;
    background: white;
    padding: 1%;
    z-index: 1000;
    font-size: 48px;
    line-height: 3;
    border-bottom: 1px solid #949494;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

#title {
	display: inline-block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#back {
	width: fit-content;
	float:left;
	margin-left: 4%;
	background: none;
    border: none;
    padding: 0;
}

#delete {
	width: fit-content;
	float:right;
	margin-right: 4%;
	background: none;
    border: none;
    padding: 0;
}

.inner-container {
	padding: 2%;
}

#image-cue {
	padding-bottom: 2%;
	padding-top: 2%;
	background-color: white;
	padding-left: 2%;
}

img {
	object-fit: cover;
    position: relative;
    //width: 900px;
    height: 900px;
	border: 1px solid darkgray;
	margin-right: 2%;
}

#cues {
	height: fit-content;
    padding-bottom: 3%;
    //padding: 2%;
    padding-top: 20%;
    background: #007bff2b;
}

.cue {
	margin: 3% 3%;
}

#location-cue {
	margin-top: 5%;
}

#no-answer {
    padding: 8%;
}

.qna {
	width: 100%;
    text-align: center;
    /* border: none; */
    min-height: 50vw;
    margin-bottom: 7%;
    border: 1px solid #5a5a5a;
    border-radius: 8px;
    font-size: 48px;
}

#get-the-answer {
	padding: 2%;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 8px;
    //background: #1c68bb;
    color: white;
    font-size: 48px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

#submit {
	width: 100%;
	padding: 4%;
    font-size: 40px;
    //background: white;
}

#memo {
	padding: 4%;
    background: lightyellow;
}

#memo-area {
	display: block;
    margin: 1% 0;
    width: 100%;
    height: 50vw;
    border: none;
    background: lightyellow;
    resize: none;
    font-size: 48px;
}

#memo-area:focus {
	outline: none;
}

#get-answer {
	padding: 5%;
	padding-top: 5%;
}

.get {
	width: 100%;
    height: 8vh;
    margin-top: 5%;
    font-size: 40px !important;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  //background-color: #ddd;
}
ul.images li {
  display: inline;
  width: 150px;
  height: 150px;
}

.page-title {
	padding-top: 20%;
	font-size: 48px;
    margin-bottom: 1%;
}

#journal-title {
	margin-top: 1%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3%;
}

#question, #answered {
    display: table;
}

#question {
    margin-top: 5%;
}

#answer {
    margin-bottom: 3%;
}

.textarea {
    display: table-cell; 
    vertical-align: middle;
}

.textarea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #757575; 
}

#answered {
    width: 100%;
    min-height: 50vw;
    //margin-top: 17%;
}

.change-source {
    width: fit-content;
    margin: 5% auto;
    margin-top: 0%;

}

#change-source, #cancel-source {
    font-size: 40px;
}

.cancel {
    margin-top: 5%;
    margin-bottom: 0%;
}

#source {
    font-size: 40px;
    padding: 0 2%;
    //padding-top: 0; 
    //padding-bottom: 17%;
    color: black;
    text-align: center;

}

/* The Modal (background) */
#myModal {
    display: block;
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  //padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.22); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  //width: 70%;
  max-width: 90%;
  height: 500px;
  //height: auto;
  position: relative;
  top: auto;
  left: auto;
  transform: none;
}

.inner-container2 {
    position: fixed;
    bottom: 0;
    background: white;
    padding: 5%;
    text-align: center;
}

.delete {
    display: block;
    width: 100%;
    font-size: 40px !important;
    margin-top: 4%;
    /* border-top: 1px solid black !important; */
    /* background: white !important; */
    padding: 4% !important;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

#delete2 {
    color: #dc3545;
}
