body {
	margin:0;
	font-family: 'Comfortaa', sans-serif !important;
	font-size: 24px;
	background: #fbfbfb;

}

button {
	cursor: pointer;
	background: none;
    border: none;
    padding: 0;
    
}

i{
	font-size: 48px;
}

#nav{
	position: fixed;
    width: 100%;
    display: flex;
    background: white;
    padding: 1%;
    z-index: 1000;
    font-size: 48px;
    line-height: 3;
    border-bottom: 1px solid #949494;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

#title {
	display: inline-block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.nav-button {
	display: inline-block;
}

#edit {
	width: fit-content;
	float:left;
	margin-left: 4%;
}

#profile {
	width: fit-content;
	float:right;
	margin-right: 4%;
}

.wrap {
	//padding: 2%;
	position: absolute;
    margin-top: 17%;
    width: 100%;
}

.image {
	width: 100%;
	margin: 0 auto;
    display: block;
    padding: 3%;
    margin-bottom: 2%;
}

img {
	//padding: 3%;
    object-fit: cover;
    position: relative;
    width: 875px;
    //border: 1px solid #000000 !important;
    //background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
    background: white;
    height: 800px;
}

#unanswered {
	background: #007bff2b;
	padding: 2%;
	text-align: center;
	font-size: 48px;
}

#answered {
	padding: 2%;
	text-align: center;
	font-size: 48px;
}

#no-pictures {
	text-align: center;
    font-size: 48px;
    padding: 5%;
    padding-top: 15%;
    line-height: 1.8;
}