body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;

}

button {
	cursor: pointer;
	background: none;
    border: none;
    padding: 0;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i{
	font-size: 48px;
}

#nav{
	position: fixed;
    width: 98%;
    display: flex;
    background: white;
    padding: 1%;
    z-index: 1000;
    font-size: 48px;
    line-height: 3;
    border-bottom: 1px solid #949494;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

#title {
	display: inline-block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.nav-button {
	display: inline-block;
}

#edit {
	width: fit-content;
	float:left;
}

#profile {
	width: fit-content;
	float:right;
	margin-right: 4%;
}

.container {
	padding: 2%;
	position: absolute;
    margin-top: 17%;
}

.image {
	width: 100%;
	margin: 0 auto;
    display: block;
    margin-bottom: 2%;
}

img {
	object-fit: cover;
    position: relative;
    width: 100%;
	border: 1px solid #383838;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}
